# Building a Data Pipeline in Python

Importing necessary libraries

In [16]:
import pandas as pd
from  sqlalchemy import create_engine

Extract the data from CSV file

In [17]:
# Define the file path
file_path = r'E:\$ Personal Work\Omdena Data Science Course\Assignment 5\retail_price.csv'

# Read the CSV file
data = pd.read_csv(file_path)

In [18]:
data

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100000,45.950000,39,161,2,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.900000
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933333,45.950000,39,161,2,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.950000
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840000,45.950000,39,161,2,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.950000
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.287500,45.950000,39,161,2,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.950000
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100000,45.950000,39,161,2,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,bed5,bed_bath_table,01-05-2017,1,215.00,8.760000,215.000000,56,162,5,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,214.950000
672,bed5,bed_bath_table,01-06-2017,10,2090.00,21.322000,209.000000,56,162,5,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,215.000000
673,bed5,bed_bath_table,01-07-2017,59,12095.00,22.195932,205.000000,56,162,5,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,209.000000
674,bed5,bed_bath_table,01-08-2017,52,10375.00,19.412885,199.509804,56,162,5,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,205.000000
675,bed5,bed_bath_table,01-09-2017,32,5222.36,24.324687,163.398710,56,162,5,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,199.509804

Preprocessing the data

In [19]:
# Check for missing values
missing_values = data.isnull().sum()
print(missing_values)

product_id                    0
product_category_name         0
month_year                    0
qty                           0
total_price                   0
freight_price                 0
unit_price                    0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_score                 0
customers                     0
weekday                       0
weekend                       0
holiday                       0
month                         0
year                          0
s                             0
volume                        0
comp_1                        0
ps1                           0
fp1                           0
comp_2                        0
ps2                           0
fp2                           0
comp_3                        0
ps3                           0
fp3                           0
lag_price                     0
dtype: int64

Transform data by calculating total sales amount for each product

In [20]:
transformed_data = data.groupby('product_category_name')['total_price'].sum().reset_index()
transformed_data.columns = ['product_category_name', 'total_sales']

View the transformed dataset

In [21]:
transformed_data.head(10)

   product_category_name  total_sales
0         bed_bath_table     95084.52
1  computers_accessories    142097.95
2         consoles_games      5800.70
3             cool_stuff     57956.30
4        furniture_decor     56925.16
5           garden_tools    163582.54
6          health_beauty    212409.24
7              perfumery     20312.52
8          watches_gifts    207582.17

Store the preprocessed data into a MySQL database
* Installing the necessary libraries

In [22]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.0.28)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (8.3.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Create a database

* Importing the mysql.connector module for MySQL connectivity

In [24]:
import mysql.connector

In [25]:
def create_database(host, username, password, database_name):
  try:
      # Connect to mySQL server
      connection = mysql.connector.connect(
         host = host,
         user = username,
         password = password
    )

      # Create a cursor object
      cursor = connection.cursor()

      # Execute an SQL query to create a database
      cursor.execute(f"CREATE DATABASE {database_name}")
      print(f"Database '{database_name}' created successfully")

  except mysql.connector.Error as error:
      print("Error creating database:", error)

  finally:
      # Close the cursor and the connection
      if 'connection' in locals():
          cursor.close()
          connection.close()

In [26]:
import configparser

In [27]:
# Create a config parser
config = configparser.ConfigParser()

# Read the config file
config.read('config.ini')

# Get the values
username = config.get('mysql', 'user')
password = config.get('mysql', 'password')
host = 'localhost'
database_name = 'Sales_prices'

# Now you can use these values to create a database
create_database(host, username, password, database_name)

Database 'Sales_prices' created successfully

In [28]:
# Importing the create_engine function from the sqlalchemy module
from sqlalchemy import create_engine

# Create a connection to mysql database
engine = create_engine(f'mysql://{username}:{password}@localhost/Sales_prices')

Create the table in the MySQL database

In [29]:
transformed_data.to_sql('product_sales', engine, if_exists='replace', index=False)

print('Data pipeline completed successfully!')

Data pipeline completed successfully!