# Practical Assignment: Data Engineering Task

Importing necessary libraries

In [1]:
import pandas as pd
from sqlalchemy import create_engine

Ingest the data from the CSV file

In [2]:
# Define the file path
file_path = r'E:\$ Personal Work\Omdena Data Science Course\Assignment 4\car_prices.csv'

# Read the CSV file
data = pd.read_csv(file_path)

In [3]:
data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

Preprocessing the data

In [4]:
# Check for missing values
missing_values = data.isnull().sum()
print(missing_values)

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [5]:
# Drop rows with missing values
data = data.dropna()

In [6]:
# Verify that all missing values have been removed
missing_values = data.isnull().sum()
print(missing_values)

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [7]:
data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,fl,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300.0,22800.0,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

Store the preprocessed data into a MySQL database

* Installing the necessary libraries

In [8]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.0.28)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.0.3)

In [9]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (8.3.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.2.4)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Create a database

In [27]:
import mysql.connector

In [28]:
!pip install sshtunnel

Requirement already satisfied: sshtunnel in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (0.4.0)
Requirement already satisfied: paramiko>=2.7.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from sshtunnel) (3.4.0)
Requirement already satisfied: bcrypt>=3.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from paramiko>=2.7.2->sshtunnel) (4.1.2)
Requirement already satisfied: cryptography>=3.3 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from paramiko>=2.7.2->sshtunnel) (42.0.5)
Requirement already satisfied: pynacl>=1.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from paramiko>=2.7.2->sshtunnel) (1.5.0)
Requirement already satisfied: cffi>=1.12 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (1.16.0)
Requirement already satisfied: pycparser in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.12->cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (2.21)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [29]:
def create_database(host, username, password, database_name):
  try:
      # Connect to mySQL server
      connection = mysql.connector.connect(
         host = host,
         user = username,
         password = password
    )

      # Create a cursor object
      cursor = connection.cursor()

      # Execute an SQL query to create a database
      cursor.execute(f"CREATE DATABASE {database_name}")
      print(f"Database '{database_name}' created successfully")

  except mysql.connector.Error as error:
      print("Error creating database:", error)

  finally:
      # Close the cursor and the connection
      if 'connection' in locals():
          cursor.close()
          connection.close()

In [33]:
import configparser

In [61]:
import urllib.parse

# Create a config parser
config = configparser.ConfigParser()

# Read the config file
config.read('config.ini')

# Get the values
username = config.get('mysql', 'user')
password = config.get('mysql', 'password')
host = 'localhost'
database_name = 'car_prices'

# Now you can use these values to create a database
create_database(host, username, password, database_name)

Database 'car_prices' created successfully

In [63]:
from sqlalchemy import create_engine

# Create a connection to mysql database
engine = create_engine(f'mysql://{username}:{password}@localhost/car_prices')

# Store DataFrame in MySQL database
data.to_sql('table_name', engine, if_exists='replace', index=False)

472325